.menu {
    padding: 10px;
    border-bottom: 1px solid #e9e9e9;
    background-color: #005AAA;
    color: white;
    background-image: url('/assets/stef-white.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 16px;
    background-size: 25%;
}