<div>{{ litige.anomaly }}</div>
<div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex class="name">{{ litige.name }}</div>
    <div fxFlex="20">{{ litige.created | date:'dd/MM H:mm' }}</div>
</div>
<div >
    

<mat-icon class="{{ litige.canal ? 'solved' : 'unsolved' }}">{{ litige.canal ? 'done' : 'question_mark' }}</mat-icon>
{{ litige.id }}

{{ litige.canal ? litige.canal : '' }}

<p>{{ litige.obs }}</p> 

<img fxFill *ngFor="let photo of litige.photos" src="{{ photo }}">

<div *ngIf="!litige.canal" class="buttons" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="5px">
  <button mat-raised-button color="primary"><mat-icon>local_shipping</mat-icon>Re-livraison</button>
  <button mat-raised-button color="primary"><mat-icon>card_giftcard</mat-icon>Don banque alimentaire</button>
  <button mat-raised-button color="primary"><mat-icon>storefront</mat-icon>Revente en interne</button>
  <button mat-raised-button color="primary"><mat-icon>recycling</mat-icon>Recyclage</button>
  <button mat-raised-button color="warn"><mat-icon>delete_outline</mat-icon>Destruction</button>
</div>