<!-- <div>{{ litige.id }}</div> -->
<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex class="name">{{ litige.name }}</div>
  <div fxFlex="100px" class="time">
    <div>{{ litige.created | date:'dd/MM/YY HH:mm' }}</div>
  </div>
</div>
<div *ngIf="!!litige.canal" class="solved" fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex>Litigé traité</div>
  <mat-icon fxFlex="100px">{{ canalToIcon(litige.canal) }}</mat-icon>
</div>

<div class="anomaly">{{ litige.anomaly }}</div>
<!-- <div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex>{{ litige.id }}</div>
</div> -->
<!-- <mat-icon class="{{ litige.canal ? 'solved' : 'unsolved' }}">{{ litige.canal ? 'done' : 'question_mark' }}</mat-icon> -->
<!-- 
{{ litige.canal ? litige.canal : '' }} -->

<div class="obs">{{ litige.obs }}</div> 

<img fxFill *ngFor="let photo of litige.photos" src="{{ photo }}">

<div *ngIf="!litige.canal" class="buttons" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="5px">
  <button mat-raised-button color="primary" (click)="solve(canal.REDELIVERY)"><mat-icon>local_shipping</mat-icon>Re-livraison</button>
  <button mat-raised-button color="primary" (click)="solve(canal.GIFT)"><mat-icon>card_giftcard</mat-icon>Don banque alimentaire</button>
  <button mat-raised-button color="primary" (click)="solve(canal.SELL)"><mat-icon>storefront</mat-icon>Revente en interne</button>
  <button mat-raised-button color="primary" (click)="solve(canal.RECYCLE)"><mat-icon>recycling</mat-icon>Recyclage</button>
  <button mat-raised-button color="warn" (click)="solve(canal.DESTRUCTION)"><mat-icon>delete_outline</mat-icon>Destruction</button>
</div>