.litige {

  border-bottom: 1px solid #e9e9e9;
  padding: 5px 0;

  .name {
    padding: 0 10px;
  }

  .state {
    text-align: center;

    mat-icon {
      &.solved {
        color: green;
      }

      &.unsolved {
        color: orange;
      }
    }
  }
}