.litige {

  &:first-child {
    border-top: 1px solid grey;
  }

  border-bottom: 1px solid grey;
  padding: 5px 0;

  .name {
    padding: 0 10px;
  }

  .state {
    text-align: center;

    mat-icon {
      font-weight: bold;

      &.solved {
        color: green;
      }

      &.unsolved {
        color: orange;
      }
    }
  }
}