.litige {

  border-bottom: 1px solid #e9e9e9;
  padding: 5px 0;

  .name {
    padding: 0 10px;
  }

  .date {
    text-align: center;
  }

  .state {
    text-align: center;

    mat-icon {
      &.solved {
        color: green;
      }

      &.unsolved {
        color: orange;
      }
    }
  }
}

.odd {
  background: rgb(200 200 200 / 20%);
}