<div>
    <div class="rectangle">
        <span id="rosette" class="material-icons">
            workspace_premium
        </span>
        <p>Félicitations! Vous faites <br>
            mieux que 80% de nos clients </p>
    </div>
   <ul>
    <li class="deroulant"> <a>A la semaine</a>
    <ul class="sous">
        <li><a>Au mois</a></li>
        <li><a>Au cours des 6 derniers mois</a></li>
        <li><a>Sur l'année</a></li>
    </ul></li>
   </ul>

    <div fxLayout="column" fxLayoutAlign="space-around center">
        <div class="vert" fxLayout="row" fxLayoutAlign="space-evenly center">
    
                <span fxFlex="25" id="plant" class="material-icons">
                    compost
                </span>
                <div fxLayout="column" fxLayoutAlign="center" fxFlex>
                    <p class="nombre">200 kg</p>

                    <p class="text">de CO2 évités</p>
                </div>
        
        </div>
        <div class="jaune" fxLayout="row" fxLayoutAlign="space-evenly center">
                <span fxFlexOffset="20" id="people" class="material-icons">
                    diversity_3
                </span>
                <div fxLayout="column" fxLayoutAlign="center" fxFlex="80">
                    <p class="nombre">100 kg</p>
                    <p class="text">de nourriture donnés à des banques alimentaires</p>
                </div>
            
        </div>
        <div class="violet" fxLayout="row" fxLayoutAlign="space-evenly center">

                <span fxFlex="20" id="truck" class="material-icons">
                    local_shipping
                </span>
                <div fxLayout="column" fxLayoutAlign="center" fxFlex="65">
                    <p class="nombre">30</p>
                    <p class="text">palettes rachetées via l'appli</p>
                </div>
            
        </div>
        <div class="vert" fxLayout="row" fxLayoutAlign="space-evenly center">
    
                <span fxFlex="20" id="recycle" class="material-icons">
                    recycling
                </span>
                <div fxLayout="column" fxLayoutAlign="center" fxFlex>
                    <p class="nombre">3 tonnes</p>
                    <p class="text">de produits compostés</p>
                </div>
        
        </div>
    </div>

</div>