body {
    background-image: url("/assets/back.png");
}

header {
    background-color: #9BC9FF;
    height: 7%;




}

#stef {
    width: 20%;
    height: 20%;
    margin-top: 3%;
    margin-left: 2%;

}

.rectangle {
    background-color: #D9D9D9;
    color: #00519E;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    border-radius: 10px;
    width: 80%;
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: flex;
    align-items: center;

}

#rosette {

    margin-left: 4%;
    margin-right: 4%;
    font-size: 50px;
}