<div style="height: 100%;">
  <div class="rectangle">
    <span id="rosette" class="material-icons">
      workspace_premium
    </span>
    <p style="margin-right: 10px;">Félicitations! Vous contribuez à <br>
      réduire le gaspillage ainsi que préserver la planète </p>
  </div>
  <!-- <ul>
    <li class="deroulant"> <a>A la semaine</a>
      <ul class="sous">
        <li><a>Au mois</a></li>
        <li><a>Au cours des 6 derniers mois</a></li>
        <li><a>Sur l'année</a></li>
      </ul>
    </li>
  </ul> -->
  <div fxLayout="column" fxLayoutAlign="space-around stretch">
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="start stretch" class="row vert">
      <div class="icon" fxFlex="30"><mat-icon fxFill>compost</mat-icon></div>
      <div class="text" fxFlex fxLayout="column" fxLayoutAlign="center stretch">
        <div class="big-text">200 kg</div>
        <div>de CO2 évités</div>
      </div>
    </div>
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="start stretch" class="row jaune">
      <div class="icon" fxFlex="30"><mat-icon fxFill>diversity_3</mat-icon></div>
      <div class="text" fxFlex fxLayout="column" fxLayoutAlign="center stretch">
        <div class="big-text">100 kg</div>
        <div>de nourriture donnée à des<br/> banques alimentaires</div>
      </div>
    </div>
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="start stretch" class="row violet">
      <div class="icon" fxFlex="30"><mat-icon fxFill>local_shipping</mat-icon></div>
      <div class="text" fxFlex fxLayout="column" fxLayoutAlign="center stretch">
        <div class="big-text">30</div>
        <div>palettes rachetées via l'appli</div>
      </div>
    </div>
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="start stretch" class="row vert">
      <div class="icon" fxFlex="30"><mat-icon fxFill>recycling</mat-icon></div>
      <div class="text" fxFlex fxLayout="column" fxLayoutAlign="center stretch">
        <div class="big-text">3 tonnes</div>
        <div>de produits compostés</div>
      </div>
    </div>
  </div>
</div>